/*
 Here's the title part
*/
h1 {
	color: #2f3644;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 48px;
	margin: 0 0 0;
	padding: 20px 30px;
	text-align: center;
	text-transform: uppercase;
}
.subtitle {
	color: #FF3E00;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	position: relative;
	text-align: center;
	z-index: 1;
}
.subtitle:before  {
	border-top: 1px solid #2f3644;
	content: "";
	position: absolute;
	top: 12px;
	left: 0;
	width: 100%;
	z-index: -1;
}
.subtitle>span.text {
	background: #FBFAF8;
	padding: 0 10px;
}

/*
  Here's the Nav part
*/
.nav{
  position: absolute;
  top: 5%;
}

/*
 Here's the search part
*/
.search-box{
	background: #2f3644;
	border-radius: 40px;
	margin-left:50%;
	transform: translate(-50%);
	width: 300px;
	height: 40px;
	padding: 10px;
}
.search-box:hover .search-text{
	width: 240px;
	padding: 0 6px;
}
.search-box:hover .search-button{
	background: white
}
.search-button{
	color: #FF3E00;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #2f3644;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-text{
	border:none;
	background: none;
	float: left;
	outline: none;
	color: white;
	padding: 0;
	font-size: 16px;
	transition: 0.5s;
	line-height: 40px;
	width: 0px;
}
