/*
 Here's the title part
*/
h1 {
	color: #2f3644;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 48px;
	margin: 0 0 0;
	padding: 20px 30px;
	text-align: center;
	text-transform: uppercase;
}
.subtitle {
	color: #FF3E00;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	position: relative;
	text-align: center;
	z-index: 1;
}
.subtitle:before  {
	border-top: 1px solid #2f3644;
	content: "";
	position: absolute;
	top: 12px;
	left: 0;
	width: 100%;
	z-index: -1;
}
.subtitle>span.text {
	background: #FBFAF8;
	padding: 0 10px;
}

/*
  Here's the Nav part
*/
.nav{
  position: absolute;
  top: 5%;
}
