<!-- Here's the title part-->
<p class="subtitle"><span i18n='Project Release Date | This is the released date of the project@@ProjectDate' class="text">November 2019</span></p>
<h1 i18n='Main title | This is the main title of the project@@ProjectTitle'>Perfect Memory movie search</h1>
<!-- <h1>{{ 'main.title' | translate }}</h1> -->
<p class="subtitle"><span class="text" i18n='Author name | This is the name of the creator of the project@@ProjectAuthor'>BY William Da Conceicao</span></p>

<!-- Here's the nav par-->
<div class="nav">
  <button (click)="toggleNav()"><i class="fas fa-bars"></i></button>
  <nav [hidden]=!showNav>
    <a routerLink="/search" i18n="Home Nav Button@@app.home-nav" routerLinkActive="active">Home</a><br/>
    <a routerLink="/seen" i18n="SeenList Nav Button@@app.seen-nav" routerLinkActive="active">SeenList</a><br/>
    <a routerLink="/wish" i18n="WishList Nav Button@@app.wish-nav" routerLinkActive="active">WishList</a>
  </nav>
</div>

<select #langSelect (change)="translate.use(langSelect.value)">
  <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
</select>

<!-- Here's the search part, on submit it call a function called performSearch with the value entered by the user -->
<form class="search-box">
  <input class="search-text" i18n-placeholder placeholder="Type your search" #name type="text" name="name" [ngModel]="urlSearch">
  <button class="search-button" type="button" for='name' [routerLink]="['/search', name.value]"><i class="fas fa-search"></i></button>
</form>

<router-outlet></router-outlet>
