.grid{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: auto;
}

.director{
	text-align: center;
	padding: 10px;
}
.grid .cast {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}