/*
 Here's the movie list part, with also css native grid
*/
.movie-list{
  position: relative;
  margin-top: 11vh;
	width: 75vw;
  margin-left: 19vw;
  color: $color-text;
}

.movie-list__title{
  overflow: hidden;
  font: 24px $font-avenir-roman;
  letter-spacing: 0.24px;
  &:after  {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: middle;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    opacity: 0.36;
    height: 0%;
    border-top: 1px solid $color-black;
    border-bottom: 1px solid $color-text;
  }
}

.movie-list__spantitle {
  color: $color-primary;
}

.movie-list__easter-egg {
  text-decoration: none;
  color: $color-primary;
}

.movie-list__grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-gap: 0 37px;
}
