@import 'Abstracts/abstracts.scss';

.app__topbar{
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  z-index: $topbar-z-index;
  opacity: 1;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

@-moz-document url-prefix() {
  .app__topbar {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
}


/*
  Here's the Nav part
*/
.app__leftbar {
  z-index: $topbar-z-index ;
  position: fixed;
  top: 11vh;
  .app__logo {
    top: 3vh;
    left: 3vw;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 15vw;
    height: 5vh;
  }
  .app__nav{
    margin-left: 3vw;
    width: 14vw;
    .app__nav-button {
      text-decoration: none;
      color: $text-color;
      border-bottom: solid 1px $grey-color;
      padding-bottom: 2vh;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      &:first-child {
        border-top: solid 1px $grey-color;
        padding-top: 2vh;
      }
      .app__nav-button-i:first-child {
        grid-column: 1;
      }
      .app_nav-button-link {
        font: 15px $font-avenir-light;
        letter-spacing: 0.09px;
        grid-column: 2;
      }
      .app__nav-button-i:last-child{
        grid-column: 3;
        justify-self: end;
      }
    }
  }
  .app__toogle-nav {
    opacity: 0;
    background-color: transparent;
    color: $text-color;
    border: solid 1px $text-color;
    border-radius: 10%;
    position: fixed;
    top: 3vh;
    left: 3vw;
    height: 3.8vh;
    width: 4vw;
    font-size: 3vw;
    text-align: center;
  }
}


.active {
  color: $primary-color !important;
  font: 16px $font-avenir-heavy !important;
}

@import './app.component.media.scss';
