 @import "Component/choose/choose.scss";
 @import "Abstracts/abstracts.scss";

/* Here's the card part*/
.movie {
  text-align: left;
  margin-bottom: 40px;
  width: 185px;

  &:hover .movie__image {
    transition: 0.2s;
    opacity: 0.5;
  }

  &:hover .movie__hovered {
    display: block;
    z-index: $seemore-z-index;
  }

  .movie__hovered {
    position: relative;
    top: 125px;
    display: none;
    margin-left: 45px;
    height: 0;
    .movie__hovered-casts {
      margin-left: 15px;
      font: 14px $font-avenir-medium;
      color: $primary-color;
    }
    .choose {
      margin-top: 80px;
    }
  }



  .movie__image {
    margin: 0;

    .movie__image-content{
      height: 274px;
      width: 100%;
      box-shadow: 0px 3px 6px #0000004E;
    }

    .movie__image-enlightment{
      box-shadow: 0px 0px 30px $primary-color;
      background-color: $text-color;
      border: 1px solid transparent;
      opacity: 1;
    }

  }

  .movie__text{
    .movie__text-title {
      text-align: left;
      font: 18px $font-avenir-heavy;
      letter-spacing: 0.11px;
      margin: 0;
      width: 100%;
      color: $primary-color;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .movie__text-date {
      color: $text-color;
      font: 15px $font-avenir-roman;
      letter-spacing: 0.09px;
      margin: 0;
    }
  }
}
