@import "../choose/choose.scss";

.movie-card__director {
  position: absolute;
  top: 45%;
  left: 35%;
  font: 16px "Avenir Book";
  letter-spacing: 0.1px;
  color: #D5D5D5;
}
.runtime{
  position: absolute;
  top: 52%;
  left: 35%;
  color: #99999F;
  font: 14px "Avenir Book";
  letter-spacing: 0.08px;
}
.arrow {
  color: #707070;
  width: 100%;
  font-size: 3.4em;
  padding-top: 18px;
  padding-bottom: 5px;
}
.title{
  position: absolute;
  top: 30%;
  left: 35%;
  font: 36px "Avenir Black";
  letter-spacing: 0.22px;
  color: #FFFFFF;
}
.release{
  position: absolute;
  top: 28%;
  left: 35%;
  text-align: left;
  font: 18px "Avenir Book";
  letter-spacing: 0.11px;
  color: #FFFFFF;
}
.show {
  text-align: center;
  z-index: 2 !important;
  opacity: 1;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(50px);
  width: 100vw;
  height: 500px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}


@-moz-document url-prefix() {
  .show {
    background-color: rgba(0, 0, 0, 0.8) !important;
  }
}

img {
  width: 252px;
  height: 377px;
  position: fixed;
  bottom: 36px;
  left: 330px;
}

h4 {
  position: relative;
  font: 14px "Avenir Medium";
  letter-spacing: 0.08px;
  margin: 0;
  color: #FFAD16;
  opacity: 1;
  padding-bottom: 10px;
}
h4::after{
  content:"";
  display: inline-block;
  height: 0.5em;
  vertical-align: middle;
  width: 90%;
  margin-right: -100%;
  margin-left: 10px;
  opacity: 0.36;
  height: 0%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #FFF;;
}

.resume{
  text-align: left;
  position: relative;
  top: 2%;
  margin: 0;
  left: 55%;
  width: 28%;
}

.resume p{
  position: relative;
  left: 1%;
  margin: 0 0 40px 0;
  word-wrap: break-word;
  font: 15px "Avenir Book";
  letter-spacing: 0.09px;
  color: #FFFFFF;
  line-height: 32px;
  width: 100%;
}

.casting h4{
  left: 41%;
  width: 28%;
}

ul {
  margin: 0;
  position: relative;
  left: 55%;
}

li {
  text-align: left;
  font: 15px "Avenir Book";
  letter-spacing: 0.09px;
  color: #FFFFFF;
  line-height: 32px;
}

.choose{
  position: absolute;
  top: 65%;
  left: 35%;
}
