.movie-card {
  text-align: center;
  z-index: $z-index-topbar;
  opacity: 1;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(50px);
  width: 100vw;
  height: 50vh;
  position: fixed;
  transition: height 0.4s linear;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.movie-card__arrow {
  color: $color-dark-grey;
  width: 100%;
  font-size: 3.4em;
  padding-top: 18px;
  padding-bottom: 5px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, 42vh);
}
.movie-card__fixed{
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
}
.movie-card__img {
  grid-column: 2;
  grid-row: 1 / 7;
  width: 80%;
  height: 80%;
  margin-top: 5%;
  display: block;
}
.movie-card__text-container{
  grid-column: 3;
  display: block;
  padding-top: 50px;
}
.movie-card__release{
  text-align: left;
  font: 18px $font-avenir-book;
  letter-spacing: 0.11px;
  color: $color-text;
}
.movie-card__title{
  font: 36px $font-avenir-black;
  word-wrap: break-word;
  letter-spacing: 0.22px;
  color: $color-text;
  margin: 0;
}
.movie-card__director {
  font: 16px $font-avenir-book;
  letter-spacing: 0.1px;
  color: $color-light;
  margin: 0;
}
.movie-card__runtime{
  color: $color-dark;
  font: 14px $font-avenir-book;
  letter-spacing: 0.08px;
  margin: 0;
}
.choose--movie-card{
  margin-top: 20px;
}
.movie-card__scroll{
  overflow: auto;
  grid-column: 2;
  display: block;
}
.movie-card__resume-title, .movie-card__casting-title {
  position: relative;
  font: 14px $font-avenir-medium;
  letter-spacing: 0.08px;
  margin: 0;
  color: $color-primary;
  opacity: 1;
  padding-bottom: 10px;
}
.movie-card__resume-title::after, .movie-card__casting-title::after{
  content:"";
  display: inline-block;
  height: 0.5em;
  vertical-align: middle;
  width: 75%;
  margin-left: 10px;
  opacity: 0.36;
  height: 0%;
  border-top: 1px solid $color-black;
  border-bottom: 1px solid $color-text;
}

.movie-card__resume{
  width: 58%;
  text-align: left;
  position: relative;
  top: 2%;
  margin: 0;
}
.movie-card__resume-content{
  position: relative;
  left: 1%;
  margin: 0 0 40px 0;
  word-wrap: break-word;
  font: 15px $font-avenir-book;
  letter-spacing: 0.09px;
  color: $color-text;
  line-height: 32px;
  width: 100%;
}

.movie-card__casting{
  width: 58%;
  text-align: left;
}
.movie-card__casting-content {
  margin: 0;
  position: relative;
}
.movie-card__casting-content-items {
  text-align: left;
  font: 15px $font-avenir-book;
  letter-spacing: 0.09px;
  color: $color-text;
  line-height: 32px;
}


@-moz-document url-prefix() {
  .movie-card {
    background-color: rgba(0, 0, 0, 0.8) !important;
  }
}
