/*
 Here's the movie list part, with also css native grid
*/
.container{
  position: relative;
  margin-top: 6%;
	width: 76%;
  margin-left: 20%;
  color: #ffffff;
}

.spantitle {
  color:#FFAD16;
}

.container>h2:after  {
  content:"";
  display: inline-block;
  height: 0.5em;
  vertical-align: middle;
  width: 100%;
  margin-right: -100%;
  margin-left: 10px;
  opacity: 0.36;
  height: 0%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #FFF;;
}

.container>h2{
  overflow: hidden;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(171px, 1fr));
  grid-template-rows: auto;
	grid-gap: 0 37px;
}
