/*
 Here's the filtering part, with a css native grid
*/
.filterer{
	position: relative;
	width: 84%;
	margin-left: 8%;
	display: grid;
  grid-template-columns: minmax(240px,1fr) 2fr minmax(240px,1fr);
  grid-template-rows: auto;
	grid-gap: 0 40px;
	text-align: center;
	margin-bottom: 8px;
}
.searcher{
	background: #2f3644;
	border-radius: 40px;
	width: 240px;
	height: 40px;
	padding: 10px;
}
.filter{
	border:none;
	background: none;
	outline: none;
	padding-left: 8px;
	color: white;
	font-size: 16px;
	transition: 0.5s;
	margin-bottom: 20px;
	line-height: 40px;
}


/*
 Here's the movie list part, with also css native grid
*/
.container{
	position: relative;
	width: 90%;
	margin-left: 5%;
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-template-rows: auto;
	grid-gap: 0 40px;
	text-align: center;
}
