<br/>
<!-- Here's the filtering part, with 2 filterer, one for the name and one for the year -->
<div class="filterer">
  <div class="searcher">
    <input [(ngModel)]="searchText"  class="filter" i18n-placeholder placeholder="Filter By Name">
  </div>
  <div></div>
  <div class="searcher">
    <input [(ngModel)]="searchYear"  class="filter" i18n-placeholder placeholder="Filter By Year">
  </div>
</div>

<!-- Here's the movie list part, and we use the value of the two filterer  -->
<div class="container">
  <div *ngFor="let movie of movies$ | async | byname: searchText | byyear: searchYear ; let i=index ">
    <app-movie *ngIf="i < 10" [id]="movie.id"></app-movie>
  </div>
</div>
