@import '../../Abstracts/abstracts.scss';

@media (max-width: $breakpoint-tablet-landscape) {
  .search{
    .search__searching{
      width: 0;
      border: 0;
      height: 4.2vh;
      .search__searching-text{
        margin-left: 5%;
      }
      .search__searching-button{
        display: none;
      }
    }

    .search__searching-icon{
      display: block;
    }

    .search__filter-category, .search__filter-year{
      .filterer{
        height: 4.2vh;
      }
      .search__filter-year-icon, .search__filter-category-icon{
        display: block;
      }
      .filter__year, .filter__category{
        width: 0;
        border: 0;
      }
    }
    #search:checked{
      & ~ .search__searching{
        transition: width 1s;
        border: 2px solid $grey-color;
        width: 22vw;
      }
      & +label{
        display: none !important;
      }
    }
    .search__filter-category, .search__filter-year{
      #year:checked{
        .filter__year{
          display: block !important;
        }
        & ~ .filter__year{
          width: 11vw;
          transition: width 1s;
          border: 2px solid $grey-color;
        }
        & +label{
          display: none !important;
        }
      }
      #category:checked{
        & ~ .filter__category {
          width: 12vw;
          transition: width 1s;
          border: 2px solid $grey-color;
        }
        & +label{
          display: none !important;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .search{
    #search:checked{
      & ~ .search__searching{
        transition: width 1s;
        border: 2px solid $grey-color;
        width: 19vw;
      }
      & +label{
        display: none !important;
      }
    }
    .search__filter-category, .search__filter-year{
      #year:checked{
        .filter__year{
          display: block !important;
        }
        & ~ .filter__year{
          width: 12vw;
          transition: width 1s;
          border: 2px solid $grey-color;
        }
        & +label{
          display: none !important;
        }
      }
      #category:checked{
        & ~ .filter__category {
          width: 11vw;
          transition: width 1s;
          border: 2px solid $grey-color;
        }
        & +label{
          display: none !important;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .search{
    .search__searching{
      height: 4.2vh;
    }
    #search:checked{
      & ~ .search__searching{
        transition: width 1s;
        border: 2px solid $grey-color;
        width: 19vw;
      }
      & +label{
        display: none !important;
      }
    }
    .search__filter-category, .search__filter-year{
      .filterer{
        height: 4.2vh;
      }
      #year:checked{
        .filter__year{
          display: block !important;
        }
        & ~ .filter__year{
          width: 12vw;
          transition: width 1s;
          border: 2px solid $grey-color;
        }
        & +label{
          display: none !important;
        }
      }
      #category:checked{
        & ~ .filter__category {
          width: 11vw;
          transition: width 1s;
          border: 2px solid $grey-color;
        }
        & +label{
          display: none !important;
        }
      }
    }
  }
}
