/*
 Here's the search part
*/
.search-box {
  position: fixed;
  border-radius: 8px;
  border: 2px solid #C6C6C6;
  margin-left: 55.5em;
  width: 389px;
  height: 38px;
  background: none;
}

.search-button {
  color: #9B9898;
  float: left;
  width: 10%;
  height: 100%;
  border: none;
  background: none;
}

.search-text {
  border: none;
  background: none;
  color: white;
  line-height: 23px;
  text-align: left;
  font: 17px "Avenir Book";
  letter-spacing: 0;
  width: 89%;
  height: 100%;
  color: #9B9898;
}


.filterer{
  position: fixed;
  z-index: 2 !important;
  top: 3%;
}
.searcher{
  text-align: center;
  background: none;
  border: 2px solid #C6C6C6;
  border-radius: 8px;
  height: 38px;
  width: 239px;
}
.searcher input{
  width: 95%;
  height: 100%;
  margin-left: 5%;
}

.filter{
  border:none;
	background: none;
	outline: none;
  color: #9B9898;
  line-height: 23px;
  text-align: left;
  font: 17px "Avenir Book";
  letter-spacing: 0;
}

.category{
  margin-left: 97em;
  overflow: hidden;
}

.category select{
  width: 90%;
  height: 100%;
}

.select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../../../imgs/down-arrow.png') no-repeat 96%;
  background-size: 1em;
  -webkit-appearance: none;
}

.year{
  position: absolute;
  margin-left: 81em;
}
