$font-avenir-black: "Avenir Black";
$font-avenir-book: "Avenir Book";
$font-avenir-heavy: "Avenir Heavy";
$font-avenir-light: "Avenir Light";
$font-avenir-medium: "Avenir Medium";
$font-avenir-roman: "Avenir Roman";
