/* Here's the card part*/
.card {
  text-align: left;
}

.card:hover .hovered {
  display: inline-block;
}

.card-image {
  background: transparent;
}

.card-text p {
  color: #FFF;
  font-size: 15px;
  font-weight: 300;
}

.card-text h2 {
  text-align: left;
  font-family: Avenir;
  letter-spacing: 0.11px;
  color: #FFAD16;
}

.hovered {
  display: none;
}

.card>.hovered>.choose>a.active {
  color: #FFAD16 !important;
  border: solid 1px #FFAD16;
}

.card>.hovered>.choose>a {
  border: solid 1px black;
  border-radius: 50%;
  padding: 10px 12px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.card>.choose>a:last-child {
  margin-left: 25px;
}

/* Here's the casting part */
.card-casts {
  text-align: center;
  background: #FF3E00;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
}
