<!-- Here's the movie information part which is store in a variable called data -->
<div class="card">
	<div class="card-image">
		<img src="https://image.tmdb.org/t/p/w185//{{data.poster_path}}" alt="">
	</div>
	<div class="card-text">
		<p class="date">{{ data.runtime }} minutes</p>
		<h2>{{ data.original_title }}</h2>
		<p>Release date: {{ data.release_date }}</p>
		<p>Average vote: {{ data.vote_average }} </p>
	</div>
	<!-- Here's the castig part which is toogle on click -->
	<div class="card-casts" (click)="toggleChild()">
  	<movie-card [id]="id" [showMePartially]="showVar"></movie-card>
  	<a >More</a>
	</div>
</div>