<!-- Here's the movie information part which is store in a variable called data -->
<div class="movie" *ngIf="data$ | async as movie">
  <div class="movie__hovered">
    <div class="movie__hovered-casts" >
      <a
        i18n="Show the casting of a movie@@ShowCast"
        (click)="toggleChild(showVar)">
          See More
      </a>
    </div>
    <div class="choose choose--movie">
      <a (click)="addLocal('seen')" [class.active]="isSeen">
        <i class="choose__icon fas fa-check"></i>
        <span class="choose__icon-plus">
          <i class="fas fa-plus-circle"></i>
        </span>
      </a>
      <a class="choose__spacing" (click)="addLocal('wish')" [class.active]="isWished">
        <i class="choose__icon fas fa-heart"></i>
        <span class="choose__icon-plus">
          <i class="fas fa-plus-circle"></i>
        </span>
      </a>
    </div>
  </div>
	<div class="movie__image" (click)="toggleChild(showVar)">
    <img
      src="https://image.tmdb.org/t/p/w185//{{movie.poster_path}}"
      i18n-alt [alt]="movie.original_title"
      [class.movie__image-enlightment]="showVar"
      class="movie__image-content"
    />
	</div>
	<div class="movie__text" (click)="toggleChild(showVar)">
    <h2 class="movie__text-title">{{ movie.title | formatTitle }}</h2>
		<p class="movie__text-date">{{ movie.release_date | date:'longDate'  }}</p>
  </div>
</div>
<app-movie-card [id]="id" [showVar]="showVar" (showChild)='toggleChild($event)'></app-movie-card>

