<!-- Here's the filtering part, with 2 filterer, one for the name and one for the year -->
<div class="search">
  <input type="checkbox" id="search">
  <label for="search"><i class="search__searching-icon fas fa-search"></i></label>
  <form class="search__searching" (ngSubmit)="submit(name.value)">
    <input class="search__searching-text" i18n-placeholder autocomplete="off" placeholder="Search" #name type="text" name="name" [ngModel]="urlSearch">
    <button class="search__searching-button" type="button" for="name" [routerLink]="['/search', name.value]"><i class="fas fa-search"></i></button>
  </form>

  <div class="search__filter-year">
    <input type="checkbox" id="year">
    <label for="year"><i class="search__filter-year-icon  fas fa-calendar-alt"></i></label>
    <div class="filterer filter__year">
      <input [(ngModel)]="searchYear"  class="filterer__filter" i18n-placeholder placeholder="Filter By Year">
    </div>
  </div>

  <div class="search__filter-category">
    <input type="checkbox" id="category">
    <label for="category"><i class="search__filter-category-icon  fas fa-theater-masks"></i></label>
    <div class="filterer filter__category">
      <select class="filterer__filter filter__form-select" #genreSelect [(ngModel)]="searchGenre">
        <option [ngValue]="null" [selected]="true" [disabled]="true">Filter By Category</option>
        <option [ngValue]="null">All Categories</option>
        <option *ngFor="let genre of genresList" [ngValue]="genre">{{ genre.name }}</option>
      </select>
    </div>
  </div>

</div>
