/* You can add global styles to this file, and also import other style files */
body {
  background: url('./assets/imgs/backgroundblur.png') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

@font-face {
  font-family: "Avenir Black";
  src: url("/assets/fonts/Avenir\ Black.otf") format("opentype");
}

@font-face {
  font-family: "Avenir Book";
  src: url("/assets/fonts/Avenir\ Book.otf") format("opentype");
}

@font-face {
  font-family: "Avenir Heavy";
  src: url("/assets/fonts/Avenir\ Heavy.otf") format("opentype");
}

@font-face {
  font-family: "Avenir Light";
  src: url("/assets/fonts/Avenir\ Light.otf") format("opentype");
}

@font-face {
  font-family: "Avenir Medium";
  src: url("/assets/fonts/Avenir\ Medium.otf") format("opentype");
}

@font-face {
  font-family: "Avenir Roman";
  src: url("/assets/fonts/Avenir\ Roman.otf") format("opentype");
}
