.card{
	border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px #2f3644;
  font-family: roboto;
  text-align: center;
  margin-bottom: 20px;
}
.card-image{
  padding-top: 10px;
}
.card-text {
  margin: 25px;
}
.card-text .date {
  color: #FF3E00;
  font-size:13px;
}
.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  color: #2f3644;
  margin-top:0px;
  font-size:28px;
}

.card-casts {
	text-align: center;
  background: #FF3E00;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
}